<app-header></app-header>
<section class="">
    <div class="max-w-4xl mx-auto py-5">
        <div class="">
            <h2 class="text-5xl font-bold">{{blogs.title}}</h2>
            <div class="space-x-4 py-5">
                <span>{{blogs.date | date: 'MMM d, y'}}</span> <span>|</span> <span>Express, Handlebars</span>
            </div>
        </div>
        <!-- <div class="">
            <img class="w-full mx-auto py-5" src="https://picsum.photos/680/460" alt="">
        </div> -->
        <div>
            <!-- <h1 class="text-3xl">Heading 1</h1>
            <h2 class="text-2xl py-5">Heading 2</h2> -->
            <div class="text-xl" [innerHTML]="blogs.content"></div>

            
            <!-- <img class="w-full mx-auto py-5" src="https://picsum.photos/680/460" alt="">
            <img class="w-full mx-auto" src="https://picsum.photos/680/460" alt=""> -->

        </div>
    </div>
</section>
<app-footer></app-footer>