<nz-table #basicTable>
    <thead>
        <tr>
            <th>Stt</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.message }}</td>
            <td>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                    (click)="removeContact(contact.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</nz-table>