<form #addBlog="ngForm" (ngSubmit)="onSubmit()" class="pb-48 pt-12">
    <div class="mb-6">
        <label for="email" class="block mb-2 text-xl font-medium text-gray-900 dark:text-gray-300">Tiêu đề</label>
        <input type="text" id="title" name="title" [(ngModel)]="blog.title" #title="ngModel" required minlength="5"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        <div class="alert" *ngIf="title.invalid && (title.dirty || title.touched)">
            <div class="text-red-500 text-lg" *ngIf="title.errors?.['required']">Không được để trống</div>
            <div class="text-red-500 text-lg" *ngIf="title.errors?.['minlength']">Ít nhất 5 ký tự</div>
        </div>
    </div>
    <div class="mb-6">
        <label for="password" class="block mb-2 text-xl font-medium text-gray-900 dark:text-gray-300">Mô tả</label>
        <input type="text" id="description" name="desc" [(ngModel)]="blog.desc" #desc="ngModel" required minlength="5"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        <div class="alert" *ngIf="desc.invalid && (desc.dirty || desc.touched)">
            <div class="text-red-500 text-lg" *ngIf="desc.errors?.['required']">Không được để trống</div>
            <div class="text-red-500 text-lg" *ngIf="desc.errors?.['minlength']">Ít nhất 5 ký tự</div>
        </div>
    </div>
    <div class="mb-6">
        <label for="repeat-password" class="block mb-2 text-xl font-medium text-gray-900 dark:text-gray-300">Bài
            viết</label>
        <angular-editor name="content" style="height: 100px ;" [(ngModel)]="blog.content"
            [placeholder]="'Enter text here...'" #content="ngModel" required minlength="5"></angular-editor>
        <div class="alert" *ngIf="content.invalid && (content.dirty || content.touched)">
            <div class="text-red-500 text-lg" *ngIf="content.errors?.['required']">Không được để trống</div>
            <div class="text-red-500 text-lg" *ngIf="content.errors?.['minlength']">Ít nhất 5 ký tự</div>
        </div>
    </div>
    

    <button type=" submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Thêm</button>
</form>